// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.transbox {
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    padding: 20px;
    border-radius: 16px;
    h1,
    p {
        font-weight: bold;
        color: rgba($color: #000000, $alpha: 1.0);
    }
    a {
        color: rgba($color: #ffffff, $alpha: 1.0);
    }
}
